.content {
	padding-left: 30rpx;
	padding-right: 30rpx;
}

.title-list {
	display: flex;
	flex-wrap: wrap;
}

.title-list .text {
	display: flex;
	flex-direction: column;
	width: 19%;
	justify-content: center;
	padding: 0 20rpx;
}

.title-list .text image {
	width: 100%;
	height: 90px;
}

.title-list .text text {
	display: flex;
	justify-content: center;
}

.list {
	display: flex;
	flex-direction: column;
	padding-bottom: 60rpx;
}

.list .cont {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20rpx 0;
}

.list .cont .txt {
	display: flex;
	flex-direction: column;
	padding-right: 20rpx;
}

.list .cont .txt .txt-title {
	width: 460rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	align-content: center;
	font-weight: 800;
}

.list .cont .txt .txt-content {
	width: 573rpx;
	font-size: 34rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	align-content: center;
	margin-top: 10rpx;

}

.txt-pic {
	width: 90rpx;
	height: 90rpx;
}

.txt-pic image {
	width: 100%;
	height: 100%;
}
swiper{
	height: 200rpx;
}
swiper-item{
	width: 100%;
	height: 200rpx;
	border-radius: 10rpx;
}
swiper-item image{
	width: 100%;
	height: 200rpx;
}
.scroll{
	white-space: nowrap;
	width: 100%;
}
.li{
	display: inline-block;
	width: 20%;  
	text-align: center; 
	font-size: 36rpx;
	padding: 20rpx 0;
	margin-top: 10rpx;
}
.border{
	height: 6rpx;
	width: 80rpx;
	background-color: #ffff00;
	float: left;
	margin-left: 28rpx
}
